node_modules
example
example/**/*
.*
package-lock.json
pnpm-lock.yaml
tsconfig.json

# Don't include original .ts files when doing `npm pack`
*.ts
!*.d.ts
coverage
.nyc_output
*.tgz

dist
.LAST_PACKAGE
.LAST_BUILD
!*.js

# Include .jsii
!.jsii

*.snk

*.tsbuildinfo

.vscode
.eslintrc.*
.prettierrc.yaml
jest.config.js

junit.xml
test/
!*.lit.ts

# exclude changelog (can always be found on GitHub)
CHANGELOG.md
